[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/tlib.vim"]
	path = .vim/bundle/tlib.vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/mw-utils.vim"]
	path = .vim/bundle/mw-utils.vim
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/sensible.vim"]
	path = .vim/bundle/sensible.vim
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/syntastic.vim"]
	path = .vim/bundle/syntastic.vim
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/airline.vim"]
	path = .vim/bundle/airline.vim
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-vinegar.vim"]
	path = .vim/bundle/vim-vinegar.vim
	url = https://github.com/tpope/vim-vinegar.git
