[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/tlib.vim"]
	path = .vim/bundle/tlib.vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/mw-utils.vim"]
	path = .vim/bundle/mw-utils.vim
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
